#contact {
    padding: 60px 0;
  }
  
  
  #contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #3498db;
  }
  
  #contact .contact-info addresss, #contact .contact-info p {
    margin-bottom: 0;
    color: #000;
  }
  
  #contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }
  
  #contact .contact-info a {
    color: #333;
  }
  
  #contact .contact-info a:hover {
    color: #3498db;
  }
  #contact .contact-phone {
   color: #3498db;
   
  }
  
  #contact .contact-addresss, #contact .contact-phone, #contact .contact-email, #contact .icon{
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    #contact .contact-addresss, #contact .contact-phone, #contact .contact-email{
      padding: 20px 0;
    }
  
  }
  #contact .icon{
    font-size: 48px;
    display: inline-block;
    margin-bottom: 20px;
    color: #3498db;
      
  }
  
  @media (min-width: 768px) {
    #contact .contact-phone{
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
   
  }
  
  #contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
  }
  
  #contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  #contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #3498db;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #3498db;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  #contact .php-email-form .form-group {
    margin-bottom: 20px;
  }
  
  #contact .php-email-form input, #contact .php-email-form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
  }
  
  #contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
    background-color: #3498db;
  }
  
  #contact .php-email-form button[type="submit"] {
    background: #3498db;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }
  
  #contact .php-email-form button[type="submit"]:hover {
    background:  #0c75bb;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .form-control{
    background-color: lightblue;
  }
  